.App {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .App::-webkit-scrollbar {
    display: none;
  }
  